.corpo {
  display: grid;
  min-height: calc(100vh - 56px);
}

.main-container{
  place-items: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
